@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat-SemiBold.eot"),
       url("../fonts/Montserrat-SemiBold.otf");
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
       url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
       url("../fonts/Montserrat-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    width     : 100%;
    height    : 100%;
    margin    : 0;
    padding   : 0;

    background: #272727;
}

.select-container,
.select-container .select {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;

    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
}

.select-container {
    position          : relative;
    z-index           : 2;

    width             : 100%;
    height            : auto;
    margin-top        : 15vh;

    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
}

.select-container .select {
    font-family       : 'Montserrat SemiBold', 'Montserrat-SemiBold', sans-serif;
    font-size         : 18px;

    position          : relative;

    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    width             : 300px;
    height            : 50px;
    padding-top       : 2px;

    cursor            : pointer;
    letter-spacing    : 2px;
    text-transform    : uppercase;

    color             : #272727;
    background        : #e45164;
}

.select-container .select::before {
    position           : absolute;
    top                : 12px;
    right              : 15px;

    width              : 12px;
    height             : 12px;

    content            : '';
    -webkit-transition : .15s;
    transition         : .15s;
    -webkit-transform  : rotate(135deg);
    transform          : rotate(135deg);

    border             : 2px solid white;
    border-bottom-color: transparent;
    border-left-color  : transparent;
}

.select-container .select.active::before {
    top              : 21px;

    -webkit-transform: rotate(-45deg);
    transform        : rotate(-45deg);
}

.select-container .drop {
    position          : absolute;
    top               : 50px;
    left              : calc(50vw - 150px);

    display           : none;

    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    width             : 300px;
    margin            : 0;
    padding           : 0;

    border            : 2px solid #e45164;
    border-top        : none;
    background        : #272727;
}

.select-container .drop li {
    font-family     : 'Montserrat SemiBold', 'Montserrat-SemiBold', sans-serif;
    font-size       : 18px;

    padding         : 9px 15px 9px 15px;

    list-style      : none;

    cursor          : pointer;
    letter-spacing  : 2px;
    text-transform  : uppercase;

    color           : #e45164;

    -webkit-box-pack: start;
    -ms-flex-pack   : start;
    justify-content : flex-start;
}

.select-container .drop li.active {
    background: rgba(100, 100, 100, 0.5);
}

.select-container .drop li:hover {
    background: rgba(150, 150, 150, 0.7);
}

.select-container .drop li.active:hover {
    cursor: default;
    background: rgba(100, 100, 100, 0.5);
}
